.auth-container {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  padding: 40px;
  width: 90%;
  max-width: 400px;
  text-align: center;
  color: #3f255e;
  margin: 16px auto;
}

.auth-container h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

.auth-container form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.auth-container input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
  font-size: 16px;
}

.auth-container button {
  padding: 12px;
  background-color: #693b88;
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.auth-container button:hover {
  background-color: #532e6e;
  transform: translateY(-2px);
}

.auth-footer {
  font-size: 14px;
  margin-top: 15px;
  color: #555;
}

.signup-link {
  color: #c74360;
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
}

.signup-link:hover {
  color: #a0324c;
}

.delete-btn {
  margin-top: 20px;
  background-color: #f25353;
}

.delete-btn:hover {
  background-color: #d14040;
}

.span
{
  color: #c74360;
  border: #a0324c;
}