.calendar-wrapper {
  max-width: 900px;
  margin: 20px auto;
  color: black;
}

.fc .fc-toolbar-title {
  color: #3f255e;
}

.fc .fc-daygrid-event {
  background-color: #693b88;
  color: white;
  border: none;
}
